root = true

[*]
end_of_linke = lf
insert_final_newline = true

[*.js]
charset = utf-8
indent_style = space
indent_size = 2

[{package,bower}.json]
indent_style = space
indent_size = 2

[*.md]
trim_trainling_whitespace = false
